@media (max-width: 768px) {
  body, html {
    font-size: 14px;
  }
  .header {
    .hamburger-menu{
      display: block;
    }
    .nav {
      position: absolute;
      right: -240px;
      top: 0;
      width: 240px;
      padding-top: 20px;
      background-color: #ffffff;
      z-index: 100;
      &.horizontal{
        right: 0;
        bottom: 0;
        top: 100%;
        width: 100%;
        padding: 0;
        background-color: transparent;
        height: 0;
        overflow: hidden;
        &:before{
          display: none;
        }
        ul{
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.6);
        }
        li{
          padding: 2% 10px;
          background-color: #ffffff;
        }
      }
      .menu-link{
        &.active {
          font-weight: bold;
        }
        display: block;
        opacity: 1;
        text-align: center;
        &.extra-wide{
          width: auto;
        }
      }
      li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 6% 10px!important;
        border-top: 1px solid #d3d5d6;
        text-align: center;
        &:first-child {
          border-top: 0;
        }
      }
    }
    .logo {
      width: auto;
      img {
        opacity: 0;
        max-width: 260px;
      }
      .link{
        width: $menuMobile-W;
        height: $menuMobile-H;
        &:before {
          opacity: 1;
          width: $menuMobile-W;
          height: $menuMobile-H;
        }
      }
    }
  }
  .navbar-default.navbar-nav {
    margin: 30px 0px;
  }
  .navbar-default .navbar-collapse {
    background-color: rgba(34, 110, 228, 0.9);
  }
}
/****************MOBILE DEVICES*****************/
@mixin mobile320 {
  @media (min-width: 321px) {
    @content;
  }
}

@mixin mobile360 {
  @media (min-width: 361px) {
    @content;
  }
}

@mixin mobile375 {
  @media (min-width: 376px) {
    @content;
  }
}

@mixin mobile414 {
  @media (min-width: 415px) {
    @content;
  }
}

@mixin mobile480 {
  @media (min-width: 481px) {
    @content;
  }
}
/****************TABLET DEVICES*****************/
@mixin tablet600 {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin tablet768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet800 {
  @media (min-width: 801px) {
    @content;
  }
}

@mixin tablet992 {
  @media (min-width: 993px) {
    @content;
  }
}

@mixin tablet1024 {
  @media (min-width: 1025px) {
    @content;
  }
}

/****************DESKTOPS DEVICES*****************/
@mixin laptop1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin laptop1280 {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin laptop1366 {
  @media (min-width: 1367px) {
    @content;
  }
}

@mixin laptop1440 {
  @media (min-width: 1441px) {
    @content;
  }
}

@mixin laptop1600 {
  @media (min-width: 1601px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1901px) {
    @content;
  }
}

/****************REGLAS POR ALTOS*****************/
@mixin alto700 {
  @media (max-height: 701px) {
    @content;
  }
}

@mixin onmob360 {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin onmob414 {
  @media (max-width: 414px) {
    @content;
  }
}

/****************MOBILE PORTRAIT******************/
@mixin mobiportis8 {
  @media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: portrait) {
    @content;
  }
}

/****************MOBILE LANDSCAPE*****************/
@mixin mobiland375 {
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    @content;
  }
}

@mixin mobiland414 {
  @media only screen and (min-device-width: 414px) and (max-device-width: 737px) and (orientation: landscape) {
    @content;
  }
}

@mixin mobilandipX {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    @content;
  }
}

@mixin mobilandis8 {
  @media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: landscape) {
    @content;
  }
}

/****************TABLET PORTRAIT******************/
@mixin tabport1 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}
@mixin tabport2 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

/****************TABLET LANDSCAPE*****************/
@mixin tabland1 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}
@mixin tabland2 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}
