#footer {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 77px;
  width: 100%;
  @media (max-width: 420px) {
    height: 68px;
  }
  .container{
    width: 1366px;
    @media screen and (max-width: 1366px){
      width: 1280px;
    }
    @media screen and (max-width: 1280px){
      width: 90%;
    }
    .col-xs-12{
      padding: 0;
      margin: 0;
      @media screen and (max-width: 768px){
        text-align: center;
      }
      img{
        @media screen and (max-width: 768px){
          text-align: center;
        }
      }
    }
  }
}
