//Header
#hold-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  visibility: hidden;
  background-color:rgba(35, 35, 35, 0.8);
  opacity: 0;
  transition: all 0.35s ease-in-out;
}
.header{
  height: 88px;
  position: fixed;
  width: 100%;
  top:0;
  font-size: 0;
  padding: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 15px -4px transparent;
  transition: all 0.35s ease-in-out;
  // @media screen and (max-width: 1366px){
  //   padding: 8px 0 8px 34px;
  // }
  @media screen and (max-width: 768px){
    height: 60px;
  }
  &.fix-header{
    position: fixed;
    z-index: 200;
    transition: all 0.35s ease-in-out;
    transform: translateX(0);
  }
  &.noMenu{
    z-index: 99;
    .logo{
      width: 100%;
      text-align: right;
    }
  }
  .containerheader{
    padding: 24px 0;
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1366px){
      width: 1280px;
    }
    @media screen and (max-width: 1280px){
      width: 90%;
    }
    @media screen and (max-width: 768px){
      padding: 13px 0;
    }
    @media screen and (max-width: 480px){
      padding: 10px 0;
    }
  }
  .logo{
    display: inline-block;
    vertical-align: middle;
    // width: 20%;
    .link{
      display: inline-block;
      position: relative;
      &:before{
        content: '';
        display: block;
        // width: 319px;
        // height: 60px;
        position: absolute;
        left: 0;
        top:0;
        background-image: url($url+"/documents/80379/4627449/isotipo_movistar.png/5a558b0f-77b7-4eb8-b586-94c0901f2503?t=1475704281603");
        background-repeat: no-repeat;
        opacity: 0;
        transition: all .2s  ease-in-out;
      }
    }
    img{
      opacity: 1;
      transition: all .2s  ease-in-out;
    }
  }
  .nav{
    display: inline-block;
    vertical-align: middle;
    transition: height .3s  ease-in-out;
    ul{
      display: block;
      margin: 10px 0 0 0;
      padding: 0;
      @media screen and (max-width:768px){
        margin: 0 ;
      }
    }
    li{
      margin: 0;
      padding: 0;
      display: inline-block;
      &.right-line{
        position: relative;
        &:after{
            content: '';
            width: 0;
            height: 68px;
            position: absolute;
            border: 0.5px solid;
            border-color: $blue-menu-line;
            top: -28px;
            margin-left: 12px;
        }
      }
    }
    .menu-link{
      display: inline-block;
      font-size: 20px;
      color: #63666d ;
      text-decoration: none;
      transition: all .2s ease-in-out;
      font-family: $font-text-regular;
      cursor: pointer;
      padding: 0 20px;
      width: 224px;
      text-align: center;  
      @media screen and (max-width: 1366px){
        font-size: 18px;
      }
      @media screen and (max-width: 1024px){
        width: 168px;
        padding: 0;
      }
      &:hover{
        opacity: 1;
      }
      &.active{
        position: relative;
        opacity: 1;
        transition: all .2s  ease-in-out;
        font-weight: bold;
        &:before{
          @media screen and (min-width: 769px){
            position: absolute;
            width: 85px;
            height: 5px;
            background: #00a9e0;
            content: '';
            transition: top .5s;
            bottom: -24px;
            right: 67px;
          }
          @media screen and (max-width: 1024px){
            right: 33px;
          }
        }
      }
      &.extra-wide{
        width: 175px;
        text-align: center;
      }
    }
  }
}

// Hamburguesa Menu
.hamburger-menu {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -11px;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
  display: none;
}
.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: 2px;
}
.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: #52545a;
  transition: all 0ms 300ms;

  &.animate {
    background: transparent;
  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: #52545a;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: #52545a;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: 768px){
    display:none;
  }
  .btnMcAfree{
    display: inline-block;
    padding: 0 17px 0 0;
    @media screen and (max-width: 1024px){
      padding: 0 9px 0 0;
    }
  }
  .mi_movistar {
    display: inline-block;
    padding: 0  0 0 17px;
    // justify-content: flex-end;
    // padding: 0;
    @media screen and (max-width: 1024px){
      padding: 0  0 0 9px;
    }
    a {
      align-items: center;
      background-color: #00a9e0;
      border: 1px solid #00a9e0;
      border-radius: 3px;
      color: #ffffff;
      display: flex;
      font-family: 'Telefonica-ExtraLight';
      font-size: 20px;
      height: 40px;
      justify-content: center;
      text-decoration: none;
      width: 137px;
      transition: 0.45s ease;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffffff;
        color: #00a9e0;
        text-decoration: none;
      }
    }
  }
}