extends extends/base

block header
    include includes/header

block content
    include includes/uno
    include includes/dos
    include includes/tres
    include includes/cuatro
    include includes/cinco
    include includes/seis
    include includes/preguntas
  
block footer
    include includes/footer
