section.bannerchico
  .section-bg-img
    img(src=url+'/documents/80379/8015104/section5-chica1920.png/' alt='Movistar Hogar').only_desk
    img(src=url+'/documents/80379/8015104/section5-chica.png/' alt='Movistar Hogar').only1366
    img(src=url+'/documents/80379/8015104/section5-chica360.png/' alt='Movistar Hogar').only_mobi
  .container
    .row
      .col-md-12
        h2 Seguridad para  #[br]3 dispositivos #[br]#[b S/ 10.90] #[span adicionales al mes]
        .btnVerde
          a(href="#") Lo quiero
