section.video
  .container
    .row
      .col-md-12
        h1 Seguridad Total con Antivirus McAfee
        h2 El mejor #[b sistema de seguridad y antivirus] para proteger todos tus dispositivos
        .container_trailer
          video(width='1070', height='600', controls, poster=url+"/documents/80379/8015104/bg-seguridad+Total.png/e8ca2bcb-84aa-41ea-a0d9-6ced9ec22852?t=1543879643666")
            source(src=url+'/documents/80379/8015104/video-seguridad-total.mp4/53fe5748-e7b2-41ff-9b79-cdf18f65612d', type='video/mp4')

