#hold-mobile

header#header.header
  .containerheader
    .logo
      a.link(href="http://www.movistar.com.pe/")
        img.log(src=url+'/documents/80379/8015104/icon-movistar-completo.png/' alt='Movistar').only_desk1
        img.log(src=url+'/documents/80379/8015104/icon-movistar.png/' alt='Movistar').only_mobi
    .hamburger-menu
      #barBurguer.bar
    nav#nav.nav
      ul
        li
          a.menu-link(data-id="#caracteristicas") Características
        li
          a.menu-link(data-id="#preguntas") Preguntas Frecuentes
    .btns
      .btnMcAfree
        img(src=url+"/documents/80379/8015104/icon-mcafee.png/", alt="Logo McAfree")
      .mi_movistar
        a(href="https://home.mcafee.com/secure/protected/login.aspx?" target="_blank") Descargar
