.w_velo
.w_modal#m_dsctouno
  .w_modal_header
    button#close_dsctouno X
      img()
  .w_modal_body
    h2 Descuento de 20 soles por pago adelantado de S/60.
    img(src=url+'/documents/80379/7919740/img_modal_dsctouno.jpg/').only_desk
    img(src=url+'/documents/80379/7919740/img_modal_dsctouno_m.jpg/').only_mobi
    p Paga S/60 antes de la instalación de tus servicios. Obtén 20 soles de descuento en la 
      strong 4ta, 5ta y 6ta factura.

.w_modal#m_dsctodos
  .w_modal_header
    button#close_dsctodos X
  .w_modal_body
    h2 Descuento de 40 soles por pago adelantado de S/120.
    img(src=url+'/documents/80379/7956960/modal2_v3.png/').only_desk
    img(src=url+'/documents/80379/7956960/modal2_v3_mobile.png/').only_mobi
    p Paga S/120 antes de la instalación de tus servicios. Obtén 40 soles de descuento en la 
      strong 4ta, 5ta y 6ta factura.