section.listProduct
  .container
    .row
      .col-md-12
        h2 Galardones otorgados a este productos
      .col-md-12
        .row
          .col-sm-3.col-xs-12
            .boxProd
              .imgP
                img(src=url+"/documents/80379/8015104/producto1.png/", alt="")
              p McAfee AntiVirus Plus #[br]Ganador del Editors’ Choice #[br]Setiembre 2018
          .col-sm-3.col-xs-12
            .boxProd
              .imgP
                img(src=url+"/documents/80379/8015104/producto2.png/", alt="")
              p Seguridad para Windows con el sello#[br]AV-Test Certified AV-Test#[br]Mayo 2018
          .col-sm-3.col-xs-12
            .boxProd
              .imgP
                img(src=url+"/documents/80379/8015104/producto3.png/", alt="")
              p Seguridad para Android con el sello#[br]AV-Test Certified AV-Test#[br]Mayo 2018
          .col-sm-3.col-xs-12
            .boxProd
              .imgP
                img(src=url+"/documents/80379/8015104/producto4.png/", alt="")
              p ADVANCED+ de detección de archivos #[br]AV-Comparatives#[br]Julio 2018
        