section.intro
    .section-bg-img
      img(src=url+'/documents/80379/8015104/lb-banner1920.png/' alt='Movistar Hogar').only_desk
      img(src=url+'/documents/80379/8015104/lb-banner1366_v2.png/' alt='Movistar Hogar').only1366
      img(src=url+'/documents/80379/8015104/lb-banner360.png/' alt='Movistar Hogar').only_mobi
    .container
      .row
        .col-md-12
          h2 Tu vida digital y la de tu #[br]familia #[span #[b totalmente #[br]asegurada]]
          .btnVerde
            a(href="#") Lo quiero